.button {
  background-color: green;
  color: white;
  border: 0;
  height: 30px;
  width: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.button:hover {
  background-color: hsl(120, 100%, 30%);
}

.button:active {
  outline: auto black;
  background-color: hsl(120, 100%, 35%);
}

.button--remove {
  background-color: crimson;
  font-weight: normal;
}

.button--remove:hover {
  background-color: hsl(348, 83%, 52%);
}

.button--remove:active {
  background-color: hsl(348, 83%, 57%);
}