.section {
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 8px 8px 24px -20px rgba(66, 68, 90, 1);
}

.section__header {
  border-bottom: 2px solid #eee;
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .section__header {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.section__headerName {
  padding: 10px;
  margin: 0;
}

.section__headerButtons {
  color: teal;
  background-color: transparent;
  border: 0px transparent;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

@media (max-width: 767px) {
  .section__headerButtons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 5px;
  }
}

.section__headerButtons:hover {
  color: hsl(180, 100%, 35%);
}

.section__headerButtons:disabled {
  color: #ddd;
}
